html 
    head 
        //- link(rel='stylesheet', href='/assets/index.css')
        script(src='https://cdn.tailwindcss.com/')
        
    body
        h1.bg-gradient-to-r.from-purple-100.to-gray-200.p-16.text-4xl.font-bold 나의 채팅 서비스
        div.p-16.space-y-8 
            div#chats.bg-gray-100.p-2 채팅 리스트
            form#form.space-x-4.flex
                input#input.flex-1.border-gray-200.border.p-4.rounded(type="text", name="name", placeholder="메세지를 입력하세요")
                input.bg-blue-400.text-white.p-2.rounded(type="submit", value="보내기")
        //- form(action='/chat/create', method='post')
        //-     input(type='text', name='name', placeholder='채팅방 이름')
        //-     input(type='submit', value='생성')

    script(src='public/client.js')
        

